/*
  Extracted from figma variables via variables2css plugin
  https://www.figma.com/community/plugin/1261234393153346915/variables2css
*/
/* _primatives */
:root {
  /* Mode 1 */
  /* color */
  --colors-accent-000: #fdf9ee;
  --colors-accent-100: #faf3da;
  --colors-accent-200: #fbebc8;
  --colors-accent-300: #f8e4b3;
  --colors-accent-400: #f6de9f;
  --colors-accent-500: #f2d78b;
  --colors-accent-600: #f0d276;
  --colors-accent-700: #f0c95e;
  --colors-accent-800: #efc13e;
  --colors-accent-900: #ecbb08;
  --colors-accent-950: #cda201;
  --colors-accent-990: #937102;
  --colors-accent-995: #755c02;
  --colors-accent-999: #433200;
  --colors-neutral-000: #f5f5f5;
  --colors-neutral-100: #d8d8d8;
  --colors-neutral-200: #c5c5c5;
  --colors-neutral-300: #b3b3b3;
  --colors-neutral-400: #a1a1a1;
  --colors-neutral-500: #8f8f8f;
  --colors-neutral-600: #7e7e7e;
  --colors-neutral-700: #6d6d6d;
  --colors-neutral-800: #5c5c5c;
  --colors-neutral-900: #4c4c4c;
  --colors-neutral-950: #414141;
  --colors-neutral-990: #2c2c2c;
  --colors-neutral-995: #222222;
  --colors-neutral-999: #0f0f0f;
  --colors-neutral-black: #000000;
  --colors-neutral-white: #ffffff;
  --colors-primary-000: #eaf2ea;
  --colors-primary-100: #d4e5d8;
  --colors-primary-200: #bcd8c5;
  --colors-primary-300: #a8cbb3;
  --colors-primary-400: #91c09f;
  --colors-primary-500: #7cb18d;
  --colors-primary-600: #65a67c;
  --colors-primary-700: #4e9967;
  --colors-primary-800: #318d57;
  --colors-primary-900: #057f46;
  --colors-primary-950: #006e3d;
  --colors-primary-990: #054d27;
  --colors-primary-995: #023d1e;
  --colors-primary-999: #001f0e;
  --colors-secondary-000: #fae8e5;
  --colors-secondary-100: #f1d2cd;
  --colors-secondary-200: #e9bdb3;
  --colors-secondary-300: #dfa59c;
  --colors-secondary-400: #d88f84;
  --colors-secondary-500: #cc796c;
  --colors-secondary-600: #c26356;
  --colors-secondary-700: #b74a3e;
  --colors-secondary-800: #ab3024;
  --colors-secondary-900: #9e0200;
  --colors-secondary-950: #890103;
  --colors-secondary-990: #600202;
  --colors-secondary-995: #4d0000;
  --colors-secondary-999: #290000;
  --colors-semantic-info-000: #edf8fc;
  --colors-semantic-info-100: #daf0f6;
  --colors-semantic-info-200: #c7e8f2;
  --colors-semantic-info-300: #b4e0ee;
  --colors-semantic-info-400: #a1d9e9;
  --colors-semantic-info-500: #8cd0e5;
  --colors-semantic-info-600: #76cae0;
  --colors-semantic-info-700: #61c2db;
  --colors-semantic-info-800: #44b9d7;
  --colors-semantic-info-900: #18b2d2;
  --colors-semantic-info-950: #0f9ab6;
  --colors-semantic-info-990: #096c81;
  --colors-semantic-info-995: #045869;
  --colors-semantic-info-999: #013039;
  --colors-semantic-negative-000: #feeae7;
  --colors-semantic-negative-100: #f8d5d1;
  --colors-semantic-negative-200: #f6c0ba;
  --colors-semantic-negative-300: #f0aba2;
  --colors-semantic-negative-400: #e38176;
  --colors-semantic-negative-500: #e38176;
  --colors-semantic-negative-600: #dc695f;
  --colors-semantic-negative-700: #d45148;
  --colors-semantic-negative-800: #ca3530;
  --colors-semantic-negative-900: #bf0215;
  --colors-semantic-negative-950: #a70011;
  --colors-semantic-negative-990: #760308;
  --colors-semantic-negative-995: #5f0005;
  --colors-semantic-negative-999: #320001;
  --colors-semantic-positive-000: #e9f4eb;
  --colors-semantic-positive-100: #d6ead7;
  --colors-semantic-positive-200: #c2e0c4;
  --colors-semantic-positive-300: #add4ae;
  --colors-semantic-positive-400: #99c99b;
  --colors-semantic-positive-500: #83bf88;
  --colors-semantic-positive-600: #70b475;
  --colors-semantic-positive-700: #56a960;
  --colors-semantic-positive-800: #429e4d;
  --colors-semantic-positive-900: #1b9437;
  --colors-semantic-positive-950: #197f2e;
  --colors-semantic-positive-990: #0b591e;
  --colors-semantic-positive-995: #0d4717;
  --colors-semantic-positive-999: #032608;
  --colors-semantic-warning-000: #fdf7ec;
  --colors-semantic-warning-100: #f9edd8;
  --colors-semantic-warning-200: #f7e7c5;
  --colors-semantic-warning-300: #f4dfb2;
  --colors-semantic-warning-400: #eed69d;
  --colors-semantic-warning-500: #eecd89;
  --colors-semantic-warning-600: #e9c573;
  --colors-semantic-warning-700: #e9bb5c;
  --colors-semantic-warning-800: #e5b23f;
  --colors-semantic-warning-900: #e1a914;
  --colors-semantic-warning-950: #c6920e;
  --colors-semantic-warning-990: #8b6706;
  --colors-semantic-warning-995: #705302;
  --colors-semantic-warning-999: #3d2c01;
  --colors-shade-black-004: #0000000a;
  --colors-shade-black-100: #0000001a;
  --colors-shade-black-200: #00000033;
  --colors-shade-black-300: #0000004d;
  --colors-shade-black-400: #00000066;
  --colors-shade-black-500: #00000080;
  --colors-shade-black-600: #00000099;
  --colors-shade-black-700: #000000b2;
  --colors-shade-black-800: #000000cc;
  --colors-shade-black-900: #000000e5;
  --colors-shade-white-100: #ffffff1a;
  --colors-shade-white-200: #ffffff33;
  --colors-shade-white-300: #ffffff4d;
  --colors-shade-white-400: #ffffff66;
  --colors-shade-white-500: #ffffff80;
  --colors-shade-white-600: #ffffff99;
  --colors-shade-white-700: #ffffffb2;
  --colors-shade-white-800: #ffffffcc;
  --colors-shade-white-900: #ffffffe5;
  --colors-utility-carat: #295eff;
  --colors-utility-dark: #9d2398;
  --colors-utility-light: #ce91cb;
  /* number */
  --values-1: 1px;
  --values-2: 2px;
  --values-4: 4px;
  --values-8: 8px;
  --values-12: 12px;
  --values-14: 14px;
  --values-16: 16px;
  --values-20: 20px;
  --values-24: 24px;
  --values-32: 32px;
  --values-40: 40px;
  --values-48: 48px;
  --values-56: 56px;
  --values-64: 64px;
  --values-72: 72px;
  --values-80: 80px;
  --values-88: 88px;
  --values-96: 96px;
  --values-104: 104px;
  --values-112: 112px;
  --values-120: 120px;
  --values-124: 124px;
  --values-256: 256px;
  /* string */
  --values-auto: Auto;
}
/* alias */
:root {
  /* Light Mode */
  /* color */
  --color-base-error-100: var(--colors-semantic-negative-000);
  --color-base-error-200: var(--colors-semantic-negative-100);
  --color-base-error-300: var(--colors-semantic-negative-600);
  --color-base-error-400: var(--colors-semantic-negative-700);
  --color-base-error-500: var(--colors-semantic-negative-900);
  --color-base-error-600: var(--colors-semantic-negative-950);
  --color-base-error-700: var(--colors-semantic-negative-990);
  --color-base-info-100: var(--colors-semantic-info-200);
  --color-base-info-200: var(--colors-semantic-info-700);
  --color-base-info-300: var(--colors-semantic-info-900);
  --color-base-neutral-000: var(--colors-neutral-white);
  --color-base-neutral-100: var(--colors-neutral-000);
  --color-base-neutral-200: var(--colors-neutral-100);
  --color-base-neutral-300: var(--colors-neutral-300);
  --color-base-neutral-350: var(--colors-neutral-600);
  --color-base-neutral-400: var(--colors-neutral-950);
  --color-base-neutral-500: var(--colors-neutral-990);
  --color-base-neutral-600: var(--colors-neutral-995);
  --color-base-primary-100: var(--colors-primary-000);
  --color-base-primary-200: var(--colors-primary-100);
  --color-base-primary-300: var(--colors-primary-600);
  --color-base-primary-400: var(--colors-primary-700);
  --color-base-primary-500: var(--colors-primary-900);
  --color-base-primary-600: var(--colors-primary-950);
  --color-base-primary-700: var(--colors-primary-990);
  --color-base-warning-100: var(--colors-semantic-warning-200);
  --color-base-warning-200: var(--colors-semantic-warning-700);
  --color-base-warning-300: var(--colors-semantic-warning-900);
  --color-icon-info-100: var(--color-base-info-100);
  --color-icon-info-200: var(--color-base-info-200);
  --color-icon-info-300: var(--color-base-info-300);
  --color-icon-negative-100: var(--color-base-error-100);
  --color-icon-negative-200: var(--color-base-error-200);
  --color-icon-negative-300: var(--color-base-error-300);
  --color-icon-negative-400: var(--color-base-error-400);
  --color-icon-negative-500: var(--color-base-error-500);
  --color-icon-negative-600: var(--color-base-error-600);
  --color-icon-negative-700: var(--color-base-error-700);
  --color-icon-neutral-000: var(--color-base-neutral-000);
  --color-icon-neutral-100: var(--color-base-neutral-100);
  --color-icon-neutral-200: var(--color-base-neutral-300);
  --color-icon-neutral-300: var(--color-base-neutral-300);
  --color-icon-neutral-350: var(--color-base-neutral-350);
  --color-icon-neutral-400: var(--color-base-neutral-400);
  --color-icon-neutral-500: var(--color-base-neutral-500);
  --color-icon-neutral-600: var(--color-base-neutral-600);
  --color-icon-primary-100: var(--color-base-primary-100);
  --color-icon-primary-200: var(--color-base-primary-200);
  --color-icon-primary-300: var(--color-base-primary-300);
  --color-icon-primary-400: var(--color-base-primary-400);
  --color-icon-primary-500: var(--color-base-primary-500);
  --color-icon-primary-600: var(--color-base-primary-600);
  --color-icon-primary-700: var(--color-base-primary-700);
  --color-icon-warning-100: var(--color-base-warning-100);
  --color-icon-warning-200: var(--color-base-warning-200);
  --color-icon-warning-300: var(--color-base-warning-300);
  --color-stroke-info-100: var(--color-base-info-100);
  --color-stroke-info-200: var(--color-base-info-200);
  --color-stroke-info-300: var(--color-base-info-300);
  --color-stroke-negative-100: var(--color-base-error-100);
  --color-stroke-negative-200: var(--color-base-error-200);
  --color-stroke-negative-300: var(--color-base-error-300);
  --color-stroke-negative-400: var(--color-base-error-400);
  --color-stroke-negative-500: var(--color-base-error-500);
  --color-stroke-negative-600: var(--color-base-error-600);
  --color-stroke-negative-700: var(--color-base-error-700);
  --color-stroke-neutral-000: var(--color-base-neutral-000);
  --color-stroke-neutral-100: var(--color-base-neutral-100);
  --color-stroke-neutral-200: var(--color-base-neutral-200);
  --color-stroke-neutral-300: var(--color-base-neutral-300);
  --color-stroke-neutral-350: var(--color-base-neutral-350);
  --color-stroke-neutral-400: var(--color-base-neutral-400);
  --color-stroke-neutral-500: var(--color-base-neutral-500);
  --color-stroke-neutral-600: var(--color-base-neutral-600);
  --color-stroke-primary-100: var(--color-base-primary-100);
  --color-stroke-primary-200: var(--color-base-primary-200);
  --color-stroke-primary-300: var(--color-base-primary-300);
  --color-stroke-primary-400: var(--color-base-primary-400);
  --color-stroke-primary-500: var(--color-base-primary-500);
  --color-stroke-primary-600: var(--color-base-primary-600);
  --color-stroke-primary-700: var(--color-base-primary-700);
  --color-stroke-warning-100: var(--color-base-warning-100);
  --color-stroke-warning-200: var(--color-base-warning-200);
  --color-stroke-warning-300: var(--color-base-warning-300);
  --color-surface-neutral-000: var(--color-base-neutral-000);
  --color-surface-neutral-100: var(--color-base-neutral-100);
  --color-surface-neutral-200: var(--color-base-neutral-200);
  --color-surface-neutral-300: var(--color-base-neutral-300);
  --color-surface-neutral-350: var(--color-base-neutral-350);
  --color-surface-neutral-400: var(--color-base-neutral-400);
  --color-surface-neutral-500: var(--color-base-neutral-500);
  --surface-header-global: var(--color-surface-neutral-500);
  --color-surface-neutral-600: var(--color-base-neutral-600);
  --color-surface-primary-100: var(--color-base-primary-100);
  --color-surface-primary-200: var(--color-base-primary-200);
  --color-surface-primary-300: var(--color-base-primary-300);
  --color-surface-primary-400: var(--color-base-primary-400);
  --color-surface-primary-500: var(--color-base-primary-500);
  --color-surface-primary-600: var(--color-base-primary-600);
  --color-surface-primary-700: var(--color-base-primary-700);
  --color-surface-semantic-info-100: var(--color-base-info-100);
  --color-surface-semantic-info-200: var(--color-base-info-200);
  --color-surface-semantic-info-300: var(--color-base-info-300);
  --color-surface-semantic-negative-100: var(--color-base-error-100);
  --color-surface-semantic-negative-200: var(--color-base-error-200);
  --color-surface-semantic-negative-300: var(--color-base-error-300);
  --color-surface-semantic-negative-400: var(--color-base-error-400);
  --color-surface-semantic-negative-500: var(--color-base-error-500);
  --color-surface-semantic-negative-600: var(--color-base-error-600);
  --color-surface-semantic-negative-700: var(--color-base-error-700);
  --color-surface-semantic-warning-100: var(--color-base-warning-100);
  --color-surface-semantic-warning-200: var(--color-base-warning-200);
  --color-surface-semantic-warning-300: var(--color-base-warning-300);
  --color-surface-trans-black-100: var(--colors-shade-black-004);
  --color-surface-trans-black-200: var(--colors-shade-black-500);
  --color-surface-trans-black-300: var(--colors-shade-black-700);
  --color-surface-trans-white-100: var(--colors-shade-white-100);
  --color-surface-trans-white-200: var(--colors-shade-white-200);
  --color-surface-trans-white-300: var(--colors-shade-white-300);
  --color-text-info-100: var(--color-base-info-100);
  --color-text-info-200: var(--color-base-info-200);
  --color-text-info-300: var(--color-base-info-300);
  --color-text-negative-100: var(--color-base-error-100);
  --color-text-negative-200: var(--color-base-error-200);
  --color-text-negative-300: var(--color-base-error-300);
  --color-text-negative-400: var(--color-base-error-400);
  --color-text-negative-500: var(--color-base-error-500);
  --color-text-negative-600: var(--color-base-error-600);
  --color-text-negative-700: var(--color-base-error-700);
  --color-text-neutral-000: var(--color-base-neutral-000);
  --color-text-neutral-100: var(--color-base-neutral-100);
  --color-text-neutral-200: var(--color-base-neutral-200);
  --color-text-neutral-300: var(--color-base-neutral-300);
  --color-text-neutral-350: var(--color-base-neutral-350);
  --color-text-neutral-400: var(--color-base-neutral-400);
  --color-text-neutral-500: var(--color-base-neutral-500);
  --color-text-neutral-600: var(--color-base-neutral-600);
  --color-text-primary-100: var(--color-base-primary-100);
  --color-text-primary-200: var(--color-base-primary-200);
  --color-text-primary-300: var(--color-base-primary-300);
  --color-text-primary-400: var(--color-base-primary-400);
  --color-text-primary-500: var(--color-base-primary-500);
  --color-text-primary-600: var(--color-base-primary-600);
  --color-text-primary-700: var(--color-base-primary-700);
  --color-text-warning-100: var(--color-base-warning-100);
  --color-text-warning-200: var(--color-base-warning-200);
  --color-text-warning-300: var(--color-base-warning-300);
  /* number */
  --text-font-line-height-3xs: var(--values-16);
  --text-font-line-height-2xs: var(--values-20);
  --text-font-line-height-xsm: var(--values-24);
  --text-font-line-height-sm: var(--values-32);
  --text-font-line-height-md: var(--values-40);
  --text-font-line-height-lg: var(--values-48);
  --text-font-line-height-xlg: var(--values-56);
  --text-font-size-2xs: var(--values-8);
  --text-font-size-xsm: var(--values-12);
  --text-font-size-sm: var(--values-14);
  --text-font-size-md: var(--values-16);
  --text-font-size-lg: var(--values-20);
  --text-font-size-xlg: var(--values-24);
  --values-radius-2xs: var(--values-2);
  --values-radius-xsm: var(--values-4);
  --values-radius-sm: var(--values-8);
  --values-radius-md: var(--values-16);
  --values-radius-lg: var(--values-24);
  --values-radius-xl: var(--values-256);
  --values-spacing-2xs: var(--values-2);
  --values-spacing-xsm: var(--values-4);
  --values-spacing-sm: var(--values-8);
  --values-spacing-md: var(--values-16);
  --values-spacing-lg: var(--values-20);
  --values-spacing-xlg: var(--values-24);
  --values-spacing-2xl: var(--values-48);
  --values-spacing-3xl: var(--values-56);
  /* string */
  --text-font-family: Segoe UI;
  --text-font-utility: Inter;
  --text-font-line-height-auto: var(--values-auto);
  --text-font-weight-bold: Bold;
  --text-font-weight-reg: Regular;
  --text-font-weight-semi: Semibold;
}
/* LuckyUI */
:root {
  /* Light Mode */
  /* color */
  --ajax-bar-alert: var(--color-surface-semantic-warning-200);
  --ajax-bar-error: var(--color-surface-semantic-negative-500);
  --ajax-bar-info: var(--color-surface-semantic-info-200);
  --ajax-bar-neutral: var(--color-surface-neutral-100);
  --ajax-bar-positive: var(--color-surface-primary-500);
  --badge-icon-color-dark: var(--color-icon-neutral-400);
  --badge-icon-color-info: var(--color-icon-info-300);
  --badge-icon-color-negative: var(--color-icon-negative-500);
  --badge-icon-color-positive: var(--color-icon-primary-500);
  --badge-icon-color-warning: var(--color-icon-warning-300);
  --badge-icon-color-white: var(--color-icon-neutral-000);
  --badge-stroke-info: var(--color-stroke-info-300);
  --badge-stroke-negative: var(--color-stroke-negative-500);
  --badge-stroke-positive: var(--color-stroke-primary-500);
  --badge-stroke-warning: var(--color-stroke-warning-300);
  --badge-surface-info: var(--color-surface-semantic-info-300);
  --badge-surface-negative: var(--color-surface-semantic-negative-500);
  --badge-surface-primary: var(--color-surface-primary-500);
  --badge-surface-warning: var(--color-surface-semantic-warning-300);
  --badge-surface-white: var(--color-surface-neutral-000);
  --badge-text-dark: var(--color-text-neutral-400);
  --badge-text-info: var(--color-text-info-300);
  --badge-text-negative: var(--color-text-negative-500);
  --badge-text-positive: var(--color-text-primary-500);
  --badge-text-warning: var(--color-text-warning-300);
  --badge-text-white: var(--color-text-neutral-000);
  --banner-icon-dark: var(--color-icon-neutral-400);
  --banner-icon-info: var(--color-icon-info-300);
  --banner-icon-negative: var(--color-icon-negative-500);
  --banner-icon-positive: var(--color-icon-primary-500);
  --banner-icon-warning: var(--color-icon-warning-300);
  --banner-icon-white: var(--color-icon-neutral-000);
  --banner-stroke-info: var(--color-stroke-info-300);
  --banner-stroke-negative: var(--color-stroke-negative-500);
  --banner-stroke-positive: var(--color-stroke-primary-500);
  --banner-stroke-warning: var(--color-stroke-warning-300);
  --banner-surface-info: var(--color-surface-semantic-info-300);
  --banner-surface-negative: var(--color-surface-semantic-negative-500);
  --banner-surface-primary: var(--color-surface-primary-500);
  --banner-surface-warning: var(--color-surface-semantic-warning-300);
  --banner-surface-white: var(--color-surface-neutral-000);
  --banner-text-dark: var(--color-text-neutral-400);
  --banner-text-info: var(--color-text-info-300);
  --banner-text-negative: var(--color-text-negative-500);
  --banner-text-positive: var(--color-text-primary-500);
  --banner-text-warning: var(--color-text-warning-300);
  --banner-text-white: var(--color-text-neutral-000);
  --breadcrumb-icon-neutral: var(--color-text-neutral-300);
  --breadcrumb-icon-primary: var(--color-text-primary-500);
  --breadcrumb-text-current: var(--color-text-neutral-400);
  --breadcrumb-text-trail: var(--color-text-primary-500);
  --button-shade: var(--colors-shade-white-200);
  --button-shade-hover: var(--colors-shade-white-200);
  --button-icon-default-primary-neutral: var(--color-icon-neutral-000);
  --button-icon-default-secondary-action: var(--color-icon-primary-500);
  --button-icon-default-secondary-destructive: var(--color-icon-negative-500);
  --button-icon-default-tertiary-action: var(--color-icon-primary-500);
  --button-icon-default-tertiary-destructive: var(--color-icon-negative-500);
  --button-icon-disabled-primary-neutral: var(--color-icon-neutral-000);
  --button-icon-disabled-secondary-action: var(--color-icon-primary-200);
  --button-icon-disabled-secondary-destructive: var(--color-icon-negative-200);
  --button-icon-disabled-tertiary-action: var(--color-icon-primary-200);
  --button-icon-disabled-tertiary-destructive: var(--color-icon-negative-200);
  --button-icon-hover-primary-neutral: var(--color-icon-neutral-000);
  --button-icon-hover-secondary-action: var(--color-icon-primary-600);
  --button-icon-hover-secondary-destructive: var(--color-icon-negative-600);
  --button-icon-hover-tertiary-action: var(--color-icon-primary-600);
  --button-icon-hover-tertiary-destructive: var(--color-icon-negative-600);
  --button-stroke-default-secondary-action: var(--color-stroke-primary-500);
  --button-stroke-default-secondary-destructive: var(
    --color-stroke-negative-500
  );
  --button-stroke-default-secondary-neutral: var(--color-stroke-neutral-300);
  --button-stroke-default-tertiary-action: var(--color-stroke-primary-500);
  --button-stroke-default-tertiary-destructive: var(
    --color-stroke-negative-500
  );
  --button-stroke-disabled-secondary-action: var(--color-stroke-primary-200);
  --button-stroke-disabled-secondary-destructive: var(
    --color-stroke-negative-200
  );
  --button-stroke-disabled-tertiary-action: var(--color-stroke-primary-200);
  --button-stroke-disabled-tertiary-destructive: var(
    --color-stroke-negative-200
  );
  --button-stroke-hover-secondary-action: var(--color-stroke-primary-600);
  --button-stroke-hover-secondary-destructive: var(--color-stroke-negative-600);
  --button-stroke-hover-tertiary-action: var(--color-stroke-primary-600);
  --button-stroke-hover-tertiary-destructive: var(--color-stroke-negative-600);
  --button-surface-ancilary-neutral: var(--color-surface-neutral-000);
  --button-surface-ancilary-neutral-100: var(--color-surface-neutral-000);
  --button-surface-default-primary-action: var(--color-surface-primary-500);
  --button-surface-default-primary-destructive: var(
    --color-surface-semantic-negative-500
  );
  --button-surface-default-primary-neutral: var(--color-surface-neutral-100);
  --button-surface-default-secondary-action: var(--color-surface-primary-100);
  --button-surface-default-secondary-destructive: var(
    --color-surface-semantic-negative-100
  );
  --button-surface-disabled-primary-action: var(--color-surface-primary-200);
  --button-surface-disabled-primary-destructive: var(
    --color-surface-semantic-negative-200
  );
  --button-surface-disabled-secondary-action: var(--color-surface-primary-100);
  --button-surface-disabled-secondary-destructive: var(
    --color-surface-semantic-negative-100
  );
  --button-surface-disabled-tertiary-neutral: var(--color-surface-neutral-000);
  --button-surface-hover-primary-action: var(--color-surface-primary-600);
  --button-surface-hover-primary-destructive: var(
    --color-surface-semantic-negative-600
  );
  --button-surface-hover-secondary-action: var(--color-surface-primary-200);
  --button-surface-hover-secondary-destructive: var(
    --color-surface-semantic-negative-200
  );
  --button-surface-hover-tertiary-action: var(--color-surface-primary-200);
  --button-surface-hover-tertiary-destructive: var(
    --color-surface-semantic-negative-200
  );
  --button-text-default-primary-dark: var(--color-text-neutral-400);
  --button-text-default-primary-neutral: var(--color-text-neutral-000);
  --button-text-default-secondary-action: var(--color-text-primary-500);
  --button-text-default-secondary-destructive: var(--color-text-negative-500);
  --button-text-default-tertiary-action: var(--color-text-primary-500);
  --button-text-default-tertiary-destructive: var(--color-text-negative-500);
  --button-text-disabled-primary-neutral: var(--color-text-neutral-000);
  --button-text-disabled-secondary-action: var(--color-text-primary-200);
  --button-text-disabled-secondary-destructive: var(--color-text-negative-200);
  --button-text-disabled-tertiary-action: var(--color-text-primary-200);
  --button-text-disabled-tertiary-destructive: var(--color-text-negative-200);
  --button-text-hover-primary-neutral: var(--color-text-neutral-000);
  --button-text-hover-secondary-action: var(--color-text-primary-600);
  --button-text-hover-secondary-destructive: var(--color-text-negative-600);
  --button-text-hover-tertiary-action: var(--color-text-primary-600);
  --button-text-hover-tertiary-destructive: var(--color-text-negative-600);
  --checkbox-bubble-hover-default: var(--color-surface-primary-200);
  --checkbox-bubble-hover-error: var(--color-surface-semantic-negative-200);
  --checkbox-stroke-default: var(--color-stroke-neutral-300);
  --checkbox-stroke-disabled: var(--color-stroke-neutral-300);
  --checkbox-stroke-error: var(--color-stroke-negative-500);
  --checkbox-stroke-focus: var(--color-stroke-primary-500);
  --checkbox-surface-disabled: var(--color-surface-neutral-200);
  --checkbox-surface-disabled-lite: var(--colors-neutral-000);
  --checkbox-surface-negative: var(--color-surface-semantic-negative-500);
  --checkbox-surface-primary: var(--color-surface-primary-500);
  --checkbox-surface-white: var(--color-surface-neutral-000);
  --chip-icons-dark: var(--color-icon-neutral-400);
  --chip-icons-negative: var(--color-icon-negative-500);
  --chip-icons-primary: var(--color-icon-primary-500);
  --chip-icons-white: var(--color-icon-neutral-000);
  --chip-stroke-info: var(--color-stroke-info-200);
  --chip-stroke-negative: var(--color-stroke-negative-500);
  --chip-stroke-primary: var(--color-stroke-primary-500);
  --chip-stroke-warning: var(--color-stroke-warning-200);
  --chip-surface-info: var(--color-surface-semantic-info-300);
  --chip-surface-negative: var(--color-surface-semantic-negative-500);
  --chip-surface-primary: var(--color-surface-primary-500);
  --chip-surface-warning: var(--color-surface-semantic-warning-200);
  --chip-surface-white: var(--color-surface-neutral-000);
  --chip-text-dark: var(--color-text-neutral-400);
  --chip-text-lite: var(--color-text-neutral-000);
  --chip-text-negative: var(--color-text-negative-500);
  --chip-text-primary: var(--color-text-primary-500);
  --date-picker-icon-dark: var(--color-icon-neutral-400);
  --date-picker-icon-primary: var(--color-icon-primary-500);
  --date-picker-icon-white: var(--color-icon-neutral-000);
  --date-picker-surface-primary: var(--color-surface-primary-500);
  --date-picker-surface-primary-lite: var(--color-surface-primary-100);
  --date-picker-surface-white: var(--color-surface-neutral-000);
  --date-picker-text-dark: var(--color-text-neutral-400);
  --date-picker-text-primary: var(--color-text-primary-500);
  --date-picker-text-white: var(--color-text-neutral-000);
  --flyout-text: var(--color-text-neutral-400);
  --input-icon-default: var(--color-icon-neutral-400);
  --input-icon-disabled: var(--color-icon-neutral-200);
  --input-icon-error: var(--color-icon-negative-500);
  --input-icon-light: var(--color-icon-neutral-300);
  --input-icon-primary: var(--color-icon-primary-500);
  --input-stroke-default: var(--color-stroke-neutral-300);
  --input-stroke-disabled: var(--color-stroke-neutral-200);
  --input-stroke-error: var(--color-stroke-negative-500);
  --input-stroke-success: var(--color-stroke-primary-500);
  --input-surface-decimal: var(--color-surface-neutral-100);
  --input-surface-default: var(--color-surface-neutral-000);
  --input-surface-disabled: var(--color-surface-neutral-100);
  --input-text-body-default: var(--color-text-neutral-400);
  --input-text-body-disabled: var(--table-text-disabled);
  --input-text-label-default: var(--color-text-neutral-400);
  --input-text-message-default: var(--color-text-neutral-400);
  --input-text-message-error: var(--color-text-negative-500);
  --input-text-message-success: var(--color-text-primary-500);
  --layout-000: var(--color-surface-neutral-100);
  --layout-100: var(--color-surface-neutral-000);
  --layout-200: var(--color-surface-neutral-200);
  --layout-300: var(--color-surface-neutral-500);
  --layout-400: var(--color-surface-trans-black-200);
  --layout-header-button-default: var(--color-surface-neutral-500);
  --layout-header-button-hover: var(--color-surface-neutral-400);
  --notify-icon-default: var(--color-icon-neutral-400);
  --notify-icon-white: var(--color-icon-neutral-000);
  --notify-stroke-info: var(--color-stroke-info-200);
  --notify-stroke-negative: var(--color-stroke-negative-500);
  --notify-stroke-positive: var(--color-stroke-primary-500);
  --notify-stroke-warning: var(--color-stroke-warning-300);
  --notify-surface-bootstrap-info-lite: var(--color-surface-semantic-info-100);
  --notify-surface-bootstrap-negative-lite: var(
    --color-surface-semantic-negative-100
  );
  --notify-surface-bootstrap-positive-lite: var(--color-surface-primary-100);
  --notify-surface-bootstrap-warning-lite: var(
    --color-surface-semantic-warning-100
  );
  --notify-surface-button-100: var(--color-surface-trans-white-300);
  --notify-surface-quasar-info: var(--color-surface-semantic-info-200);
  --notify-surface-quasar-negative: var(--color-surface-semantic-negative-500);
  --notify-surface-quasar-positive: var(--color-surface-primary-500);
  --notify-surface-quasar-warning: var(--color-surface-semantic-warning-200);
  --notify-text-body-default: var(--color-text-neutral-400);
  --notify-text-body-white: var(--color-text-neutral-000);
  --notify-text-button-default: var(--color-text-neutral-400);
  --notify-text-button-white: var(--color-text-neutral-000);
  --pagination-icon-disabled: var(--color-icon-neutral-200);
  --pagination-icon-primary: var(--color-icon-primary-500);
  --pagination-stroke-primary: var(--color-stroke-primary-500);
  --pagination-surface-default: var(--button-icon-default-primary-neutral);
  --pagination-surface-hover: var(--color-surface-neutral-100);
  --pagination-surface-selected: var(--button-icon-default-primary-neutral);
  --pagination-surface-selected-hover: var(--color-text-primary-100);
  --pagination-text-primary: var(--color-text-primary-500);
  --radio-stroke-default: var(--color-stroke-neutral-300);
  --radio-stroke-disabled: var(--color-stroke-neutral-100);
  --radio-stroke-selected: var(--color-stroke-primary-500);
  --radio-surface-base: var(--color-surface-neutral-000);
  --radio-surface-disabled: var(--color-surface-neutral-100);
  --radio-surface-selected: var(--color-surface-primary-500);
  --random-elements-icon-disabled: var(--color-icon-neutral-300);
  --random-elements-icon-on-dark: var(--color-icon-neutral-000);
  --random-elements-icon-on-light: var(--color-icon-neutral-400);
  --random-elements-icon-primary: var(--color-icon-primary-500);
  --random-elements-icon-white: var(--color-icon-neutral-000);
  --random-elements-stroke-default: var(--color-stroke-neutral-300);
  --random-elements-stroke-primary: var(--color-stroke-primary-500);
  --random-elements-surface-on-dark: var(--color-surface-neutral-000);
  --random-elements-surface-primary: var(--color-surface-primary-500);
  --random-elements-surface-primary-light: var(--color-surface-primary-200);
  --random-elements-text-body: var(--color-text-neutral-400);
  --random-elements-text-disabled: var(--color-text-neutral-300);
  --random-elements-text-error: var(--color-text-negative-500);
  --random-elements-text-label: var(--color-text-neutral-400);
  --random-elements-text-link: var(--color-text-primary-500);
  --random-elements-text-on-dark: var(--color-text-neutral-000);
  --random-elements-text-on-light: var(--color-text-neutral-400);
  --random-elements-text-primary: var(--color-text-primary-500);
  --random-elements-text-white: var(--color-text-neutral-000);
  --tab-button-bootstrap-stroke-default: var(--color-stroke-neutral-300);
  --tab-button-bootstrap-stroke-disabled: var(--color-stroke-neutral-200);
  --tab-button-bootstrap-surface-neutral: var(--color-surface-neutral-000);
  --tab-button-bootstrap-text-default: var(--color-text-primary-500);
  --tab-button-bootstrap-text-disabled: var(--color-text-neutral-200);
  --tab-button-bootstrap-text-hover: var(
    --button-text-default-secondary-action
  );
  --tab-button-bootstrap-text-selected: var(--color-text-neutral-400);
  --tab-button-quasar-surface-neutral: var(--color-surface-neutral-000);
  --tab-button-quasar-surface-selected: var(--color-surface-primary-200);
  --tab-button-quasar-text-default: var(--color-text-neutral-200);
  --tab-button-quasar-text-disabled: var(--color-text-neutral-200);
  --tab-button-quasar-text-hover: var(--color-text-primary-600);
  --tab-button-quasar-text-selected: var(--color-text-primary-500);
  --table-icon-default: var(--color-icon-neutral-400);
  --table-icon-destructive: var(--color-icon-negative-500);
  --table-icon-disabled: var(--color-icon-neutral-200);
  --table-icon-primary: var(--color-icon-primary-500);
  --table-stroke-alternate: var(--color-stroke-neutral-300);
  --table-stroke-default: var(--color-stroke-neutral-300);
  --table-stroke-highlight: var(--color-stroke-neutral-300);
  --table-surface-alternate: var(--color-surface-neutral-100);
  --table-surface-default: var(--color-surface-neutral-000);
  --table-surface-highlight: var(--color-surface-primary-100);
  --table-text-default: var(--color-text-neutral-400);
  --table-text-destructive: var(--color-text-negative-500);
  --table-text-disabled: var(--color-text-neutral-300);
  --table-text-primary: var(--color-text-primary-500);
  --toggle-bubble: #d4e5d899;
  --toggle-channel-default: var(--color-surface-neutral-200);
  --toggle-channel-selected: var(--color-surface-primary-500);
  --toggle-channel-disabled-default: var(--color-surface-neutral-200);
  --toggle-channel-disabled-selected: var(--color-surface-primary-100);
  --toggle-nub-default: var(--color-surface-neutral-000);
  --toggle-nub-disabled: var(--color-surface-neutral-100);
  /* number */
  --input-spacing-md: var(--values-spacing-sm);
}
